<%- include('../layout/includes/header', { title: 'User Index Page' }) %>
    <div class="row fixed-div_">
        <nav aria-label="breadcrumb" class="breadcrumbs">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="#">Questionnaire</a></li>
                <li class="breadcrumb-item active" aria-current="page">View Questionnaire </li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="page-title-box align-self-center d-none d-md-block">
                <h4 class="page-title mb-0">Questionnaire View</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="title_head assessment_head">
                                <h4>Questionnaire 1 <span class="product_name__"> <i
                                            class="fa-solid fa-angle-right"></i> Face mask</span></h4>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <ol class="questionair_list  p-3">
                                <li>
                                    <p class="question_">The application of the product is easy.</p>
                                    <ul class="ans_option">
                                        <li>
                                            <p class="answer_">Strongly Disagree</p>
                                        </li>
                                        <li>
                                            <p class="answer_">Disagree</p>
                                        </li>
                                        <li>
                                            <p class="answer_">Agree</p>
                                        </li>
                                        <li>
                                            <p class="answer_">Strongly Agree</p>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <p class="question_">The product absorption is fast.</p>
                                    <ul class="ans_option">
                                        <li>
                                            <p class="answer_">Strongly Disagree</p>
                                        </li>
                                        <li>
                                            <p class="answer_">Disagree</p>
                                        </li>
                                        <li>
                                            <p class="answer_">Agree</p>
                                        </li>
                                        <li>
                                            <p class="answer_">Strongly Agree</p>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <p class="question_">The product is oily for the skin.</p>
                                    <ul class="ans_option">
                                        <li>
                                            <p class="answer_">Strongly Disagree</p>
                                        </li>
                                        <li>
                                            <p class="answer_">Disagree</p>
                                        </li>
                                        <li>
                                            <p class="answer_">Agree</p>
                                        </li>
                                        <li>
                                            <p class="answer_">Strongly Agree</p>
                                        </li>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end col -->
    </div>
    <%- include('../layout/includes/footer') %>