<%- include('./layout/includes/header', { title: 'User Index Page' }) %>
  <div class="row fixed_div_main">
    <nav aria-label="breadcrumb" class="breadcrumbs fixed-div_">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <!-- <li class="breadcrumb-item"><a href="#">Library</a></li> -->
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="page-title-box align-self-center d-none d-md-block">
        <h4 class="page-title mb-0">Welcome Back !</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="avatar-md flex-shrink-0">
              <span class="avatar-title bg-subtle-primary text-primary rounded fs-2">
                <i class="mdi mdi-account-group-outline"></i>
              </span>
            </div>
            <div class="flex-grow-1 overflow-hidden ms-4">
              <p class="text-muted text-truncate font-size-15 mb-2"> Total Volunteers</p>
              <h3 class="fs-4 flex-grow-1 mb-3">3400</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="avatar-md flex-shrink-0">
              <span class="avatar-title bg-subtle-primary text-primary rounded fs-2">
                <i class="uim uim-layer-group"></i>
              </span>
            </div>
            <div class="flex-grow-1 overflow-hidden ms-4">
              <p class="text-muted text-truncate font-size-15 mb-2"> Upcoming Appointment</p>
              <h3 class="fs-4 flex-grow-1 mb-3">60</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="avatar-md flex-shrink-0">
              <span class="avatar-title bg-subtle-primary text-primary rounded fs-2">
                <i class="uim uim-bag "></i>
              </span>
            </div>
            <div class="flex-grow-1 overflow-hidden ms-4">
              <p class="text-muted text-truncate font-size-15 mb-2"> Total Companies</p>
              <h3 class="fs-4 flex-grow-1 mb-3">425,34</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="avatar-md flex-shrink-0">
              <span class="avatar-title bg-subtle-primary text-primary rounded fs-2">
                <i class="uim uim-cube "></i>
              </span>
            </div>
            <div class="flex-grow-1 overflow-hidden ms-4">
              <p class="text-muted text-truncate font-size-15 mb-2"> Total Products</p>
              <h3 class="fs-4 flex-grow-1 mb-3">269 </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END ROW -->
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="complete_appointment">
            <div class="img_cmp_aapp">
              <img src="assets/images/new-images/415-removebg-preview.png" alt="">
            </div>
            <h1>55 <span>Completed Appointments</span></h1>
            <div class="st_ text-center">
              <span class="status_count">This Week</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header border-0 align-items-center d-flex pb-0">
          <h4 class="card-title mb-0 flex-grow-1">Upcoming Appointments</h4>
        </div>
        <div class="card-body">
          <div class="main_appoinment">
            <div class="appointment">
              <div class="cnt_apppin">
                <div class="img_box_appoinment">
                  <img src="assets/images/users/avatar-4.jpg" class="avatar-sm rounded-circle " alt="...">
                </div>
                <div class="cnt_appoin_dt">
                  <h1><span>#1100</span> - Jacob Hunter</h1>
                  <p>Face Cream</p>
                </div>
              </div>
              <div class="right_sede">
                <div class="date_time">
                  <p>24 Nov, 2023 - 10:00 AM</p>
                </div>
                <div class="status">
                  <span class="badge badge-soft-warning font-size-12">Pending</span>
                </div>
              </div>
            </div>
            <div class="appointment">
              <div class="cnt_apppin">
                <div class="img_box_appoinment">
                  <img src="assets/images/users/avatar-5.jpg" class="avatar-sm rounded-circle " alt="...">
                </div>
                <div class="cnt_appoin_dt">
                  <h1><span>#1101</span> - Jamal Burnett</h1>
                  <p>Face Cream</p>
                </div>
              </div>
              <div class="right_sede">
                <div class="date_time">
                  <p>24 Nov, 2023 - 10:00 AM</p>
                </div>
                <div class="status">
                  <span class="badge badge-soft-warning font-size-12">Pending</span>
                </div>
              </div>
            </div>
            <div class="appointment">
              <div class="cnt_apppin">
                <div class="img_box_appoinment">
                  <img src="assets/images/users/avatar-6.jpg" class="avatar-sm rounded-circle " alt="...">
                </div>
                <div class="cnt_appoin_dt">
                  <h1><span>#1103</span> - Juan Mitchell</h1>
                  <p>Face Cream</p>
                </div>
              </div>
              <div class="right_sede">
                <div class="date_time">
                  <p>24 Nov, 2023 - 10:00 AM</p>
                </div>
                <div class="status">
                  <span class="badge badge-soft-warning font-size-12">Pending</span>
                </div>
              </div>
            </div>
            <div class="appointment">
              <div class="cnt_apppin">
                <div class="img_box_appoinment">
                  <img src="assets/images/users/avatar-7.jpg" class="avatar-sm rounded-circle " alt="...">
                </div>
                <div class="cnt_appoin_dt">
                  <h1><span>#1104</span> - Neal Matthews</h1>
                  <p>Face Cream</p>
                </div>
              </div>
              <div class="right_sede">
                <div class="date_time">
                  <p>24 Nov, 2023 - 10:00 AM</p>
                </div>
                <div class="status">
                  <span class="badge badge-soft-warning font-size-12">Pending</span>
                </div>
              </div>
            </div>
            <div class="appointment">
              <div class="cnt_apppin">
                <div class="img_box_appoinment">
                  <img src="assets/images/users/avatar-8.jpg" class="avatar-sm rounded-circle " alt="...">
                </div>
                <div class="cnt_appoin_dt">
                  <h1><span>#1105</span> - Ronald Taylor </h1>
                  <p>Face Cream</p>
                </div>
              </div>
              <div class="right_sede">
                <div class="date_time">
                  <p>24 Nov, 2023 - 10:00 AM</p>
                </div>
                <div class="status">
                  <span class="badge badge-soft-warning font-size-12">Pending</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('./layout/includes/footer') %>