<%- include('../layout/includes/header', { title: 'User Index Page' }) %>
    <div class="row fixed-div_">
        <nav aria-label="breadcrumb" class="breadcrumbs">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="#">Volunteers</a></li>
                <li class="breadcrumb-item active" aria-current="page">View Volunteer Details</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body p-0">
                    <ul class="nav nav-tabs nav-tabs-custom " role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#home1" role="tab">
                                <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                <span class="d-none d-sm-block">Personal Details</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#profile1" role="tab">
                                <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                <span class="d-none d-sm-block">Used Products</span>
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content p-3 text-muted">
                        <div class="tab-pane active" id="home1" role="tabpanel">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="title_head">
                                        <h4>View Volunteer Info.</h4>
                                    </div>
                                </div>
                                <div class="col-lg-6 border-right-dashed">
                                    <div class="detail_box pe-4">
                                        <ul>
                                            <li>
                                                <div class="detail_title">
                                                    <h6>Volunteer Type</h6>
                                                </div>
                                                <div class="detail_ans">
                                                    <h6>Volunteer</h6>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="detail_title">
                                                    <h6>Name</h6>
                                                </div>
                                                <div class="detail_ans">
                                                    <h6>Jacob</h6>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="detail_title">
                                                    <h6>Surname</h6>
                                                </div>
                                                <div class="detail_ans">
                                                    <h6>Hunter</h6>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="detail_title">
                                                    <h6>Date of registry</h6>
                                                </div>
                                                <div class="detail_ans">
                                                    <h6>25 July, 1996</h6>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="detail_title">
                                                    <h6>DNI (Identification Number)</h6>
                                                </div>
                                                <div class="detail_ans">
                                                    <h6>----</h6>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="detail_title">
                                                    <h6>Mobile phone</h6>
                                                </div>
                                                <div class="detail_ans">
                                                    <h6>974567891</h6>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="detail_title">
                                                    <h6>Email</h6>
                                                </div>
                                                <div class="detail_ans">
                                                    <h6>JacobHunter@gmail.com</h6>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="detail_title">
                                                    <h6>Email</h6>
                                                </div>
                                                <div class="detail_ans">
                                                    <h6>JacobHunter@gmail.com</h6>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="detail_title">
                                                    <h6>Country of origin</h6>
                                                </div>
                                                <div class="detail_ans">
                                                    <h6>Brazil</h6>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="detail_title">
                                                    <h6>Gender</h6>
                                                </div>
                                                <div class="detail_ans">
                                                    <h6>Male</h6>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="detail_title">
                                                    <h6>Date of Birth</h6>
                                                </div>
                                                <div class="detail_ans">
                                                    <h6>18 July, 1999</h6>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="detail_title">
                                                    <h6>How he/she can come to us?</h6>
                                                </div>
                                                <div class="detail_ans">
                                                    <h6>Social Media</h6>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="detail_box ps-4">
                                        <ul>
                                            <li>
                                                <div class="detail_title">
                                                    <h6>Type of skin</h6>
                                                </div>
                                                <div class="detail_ans">
                                                    <h6>Sensitive</h6>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="detail_title">
                                                    <h6>Type of skin (hydration)</h6>
                                                </div>
                                                <div class="detail_ans">
                                                    <h6>Very Dry</h6>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="detail_title">
                                                    <h6>Type of skin (sebum)</h6>
                                                </div>
                                                <div class="detail_ans">
                                                    <h6>Dry</h6>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="detail_title">
                                                    <h6>Pathology</h6>
                                                </div>
                                                <div class="detail_ans">
                                                    <h6>Vitiligo</h6>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="col-lg-12">
                                            <div class="detail_title">
                                                <h6>Address</h6>
                                            </div>
                                            <div class="detail_ans">
                                                <h6>Akshya Nagar 1st Block 1st Cross, Rammurthy nagar, Bangalore-560016
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mt-3">
                                            <div class="detail_title">
                                                <h6>Volunteer Signature</h6>
                                            </div>
                                            <div class="detail_ans sign_img_bx">
                                                <img src="assets/images/new-images/signature_dummy.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="profile1" role="tabpanel">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="title_head">
                                        <h4>Used Products</h4>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <a href="/product/history">
                                        <div class="product_box">
                                            <div class="video_box">
                                                <img src="assets/images/new-images/video-img.png" alt="">
                                                <a class="popup-youtube video_btn"
                                                    href="https://www.youtube.com/watch?v=_BfzcPXcZoY">Play Video <img
                                                        src="assets/images/new-images/youtube.png" alt=""></a>
                                                <div class="top_head_ pp_top">
                                                    <div class="date">
                                                        <h6><i class="mdi mdi-calendar-blank-outline"></i> Usage : 15
                                                            days</h6>
                                                    </div>
                                                    <div class="date time">
                                                        <h6><i class="mdi mdi-clock-check-outline"></i> Duration : 5 min
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product_detail_box">
                                                <h3 class="product_title_nn"><a
                                                        href="/product/history">SkinCeuticals Soothing
                                                        Cleanser</a></h3>
                                                <h6 class="application___jj">Gently massage the Anti-aging serum under
                                                    the eyes</h6>
                                                <p>Deep-clean your complexion with SkinCeuticals' foam face wash, which
                                                    is infused with glycerin and cucumber extract. A winner of the GH
                                                    Beauty Lab’s most recent face cleanser test, it earned near perfect
                                                    points for effective cleansing, with 96% of users reporting that it
                                                    deeply purified their skin</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4">
                                    <a href="/product/history">
                                        <div class="product_box">
                                            <div class="video_box">
                                                <img src="assets/images/new-images/video-img.png" alt="">
                                                <a class="popup-youtube video_btn"
                                                    href="https://www.youtube.com/watch?v=_BfzcPXcZoY">Play Video <img
                                                        src="assets/images/new-images/youtube.png" alt=""></a>
                                                <div class="top_head_ pp_top">
                                                    <div class="date">
                                                        <h6><i class="mdi mdi-calendar-blank-outline"></i> Usage : 15
                                                            days</h6>
                                                    </div>
                                                    <div class="date time">
                                                        <h6><i class="mdi mdi-clock-check-outline"></i> Duration : 5 min
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product_detail_box">
                                                <h3 class="product_title_nn"><a
                                                        href="/product/history">SkinCeuticals Soothing
                                                        Cleanser</a> </h3>
                                                <h6 class="application___jj">Gently massage the Anti-aging serum under
                                                    the eyes</h6>
                                                <p>Deep-clean your complexion with SkinCeuticals' foam face wash, which
                                                    is infused with glycerin and cucumber extract. A winner of the GH
                                                    Beauty Lab’s most recent face cleanser test, it earned near perfect
                                                    points for effective cleansing, with 96% of users reporting that it
                                                    deeply purified their skin</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end col -->
    </div>
    <%- include('../layout/includes/footer') %>