<%- include('../layout/includes/header', { title: 'User Index Page' }) %>
    <div class="row fixed-div_">
        <nav aria-label="breadcrumb" class="breadcrumbs">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Volunteer</a></li>
                <li class="breadcrumb-item"><a href="#">Volunteer View</a></li>
                <li class="breadcrumb-item active" aria-current="page">Product History</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="page-title-box align-self-center d-none d-md-block">
                <h4 class="page-title mb-0">Product History</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <div class="video_box">
                                <img src="assets/images/new-images/video-img.png" alt="">
                                <a class="popup-youtube video_btn"
                                    href="https://www.youtube.com/watch?v=_BfzcPXcZoY">Play Video <img
                                        src="assets/images/new-images/youtube.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="product_detail_box">
                                <h3>SkinCeuticals Soothing Cleanser</h3>
                                <p>Deep-clean your complexion with SkinCeuticals' foam face wash, which is infused with
                                    glycerin and cucumber extract. A winner of the GH Beauty Lab’s most recent face
                                    cleanser test, it earned near perfect points for effective cleansing, with 96% of
                                    users reporting that it deeply purified their skin</p>
                                <h6>Gently massage the Anti-aging serum under the eyes</h6>
                                <p><strong>Duration :</strong> 5 Minutes</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end col -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="title_head">
                                <h4>Daily Updates</h4>
                            </div>
                        </div>
                    </div>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span><i class="mdi mdi-calendar"></i> Day 1</span>
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="row align-items-center">
                                        <div class="col-lg-2">
                                            <div class="container__img-holder">
                                                <img src="assets/images/new-images/selfi.png" alt="Image">
                                            </div>
                                        </div>
                                        <div class="col-lg-10">
                                            <div class="top_head_">
                                                <div class="date">
                                                    <h6><i class="mdi mdi-calendar-blank-outline"></i> 09 Nov, 2023</h6>
                                                </div>
                                                <div class="date time">
                                                    <h6><i class="mdi mdi-clock-check-outline"></i> 10:00 AM</h6>
                                                </div>
                                            </div>
                                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque assumenda
                                                non quisquam officiis culpa quis sapiente ipsum nihil esse saepe
                                                perferendis, aspernatur ducimus ratione incidunt maxime iure suscipit
                                                fugit sed aliquid recusandae velit. Sapiente, incidunt alias
                                                necessitatibus eum earum laborum similique aliquid repellendus, nulla
                                                voluptatibus veritatis? Ipsam dolores doloribus veniam!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span><i class="mdi mdi-calendar"></i> Day 2</span>
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="row align-items-center">
                                        <div class="col-lg-2">
                                            <div class="container__img-holder">
                                                <img src="assets/images/new-images/selfi.png" alt="Image">
                                            </div>
                                        </div>
                                        <div class="col-lg-10">
                                            <div class="top_head_">
                                                <div class="date">
                                                    <h6><i class="mdi mdi-calendar-blank-outline"></i> 09 Nov, 2023</h6>
                                                </div>
                                                <div class="date time">
                                                    <h6><i class="mdi mdi-clock-check-outline"></i> 10:00 AM</h6>
                                                </div>
                                            </div>
                                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque assumenda
                                                non quisquam officiis culpa quis sapiente ipsum nihil esse saepe
                                                perferendis, aspernatur ducimus ratione incidunt maxime iure suscipit
                                                fugit sed aliquid recusandae velit. Sapiente, incidunt alias
                                                necessitatibus eum earum laborum similique aliquid repellendus, nulla
                                                voluptatibus veritatis? Ipsam dolores doloribus veniam!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <span><i class="mdi mdi-calendar"></i> Day 3</span>
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="row align-items-center">
                                        <div class="col-lg-2">
                                            <div class="container__img-holder">
                                                <img src="assets/images/new-images/selfi.png" alt="Image">
                                            </div>
                                        </div>
                                        <div class="col-lg-10">
                                            <div class="top_head_">
                                                <div class="date">
                                                    <h6><i class="mdi mdi-calendar-blank-outline"></i> 09 Nov, 2023</h6>
                                                </div>
                                                <div class="date time">
                                                    <h6><i class="mdi mdi-clock-check-outline"></i> 10:00 AM</h6>
                                                </div>
                                            </div>
                                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque assumenda
                                                non quisquam officiis culpa quis sapiente ipsum nihil esse saepe
                                                perferendis, aspernatur ducimus ratione incidunt maxime iure suscipit
                                                fugit sed aliquid recusandae velit. Sapiente, incidunt alias
                                                necessitatibus eum earum laborum similique aliquid repellendus, nulla
                                                voluptatibus veritatis? Ipsam dolores doloribus veniam!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <span><i class="mdi mdi-calendar"></i> Day 4</span>
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="row align-items-center">
                                        <div class="col-lg-2">
                                            <div class="container__img-holder">
                                                <img src="assets/images/new-images/selfi.png" alt="Image">
                                            </div>
                                        </div>
                                        <div class="col-lg-10">
                                            <div class="top_head_">
                                                <div class="date">
                                                    <h6><i class="mdi mdi-calendar-blank-outline"></i> 09 Nov, 2023</h6>
                                                </div>
                                                <div class="date time">
                                                    <h6><i class="mdi mdi-clock-check-outline"></i> 10:00 AM</h6>
                                                </div>
                                            </div>
                                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque assumenda
                                                non quisquam officiis culpa quis sapiente ipsum nihil esse saepe
                                                perferendis, aspernatur ducimus ratione incidunt maxime iure suscipit
                                                fugit sed aliquid recusandae velit. Sapiente, incidunt alias
                                                necessitatibus eum earum laborum similique aliquid repellendus, nulla
                                                voluptatibus veritatis? Ipsam dolores doloribus veniam!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    <span><i class="mdi mdi-calendar"></i> Day 5</span>
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="row align-items-center">
                                        <div class="col-lg-2">
                                            <div class="container__img-holder">
                                                <img src="assets/images/new-images/selfi.png" alt="Image">
                                            </div>
                                        </div>
                                        <div class="col-lg-10">
                                            <div class="top_head_">
                                                <div class="date">
                                                    <h6><i class="mdi mdi-calendar-blank-outline"></i> 09 Nov, 2023</h6>
                                                </div>
                                                <div class="date time">
                                                    <h6><i class="mdi mdi-clock-check-outline"></i> 10:00 AM</h6>
                                                </div>
                                            </div>
                                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque assumenda
                                                non quisquam officiis culpa quis sapiente ipsum nihil esse saepe
                                                perferendis, aspernatur ducimus ratione incidunt maxime iure suscipit
                                                fugit sed aliquid recusandae velit. Sapiente, incidunt alias
                                                necessitatibus eum earum laborum similique aliquid repellendus, nulla
                                                voluptatibus veritatis? Ipsam dolores doloribus veniam!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    <span><i class="mdi mdi-calendar"></i> Day 6</span>
                                </button>
                            </h2>
                            <div id="collapseSix" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="row align-items-center">
                                        <div class="col-lg-2">
                                            <div class="container__img-holder">
                                                <img src="assets/images/new-images/selfi.png" alt="Image">
                                            </div>
                                        </div>
                                        <div class="col-lg-10">
                                            <div class="top_head_">
                                                <div class="date">
                                                    <h6><i class="mdi mdi-calendar-blank-outline"></i> 09 Nov, 2023</h6>
                                                </div>
                                                <div class="date time">
                                                    <h6><i class="mdi mdi-clock-check-outline"></i> 10:00 AM</h6>
                                                </div>
                                            </div>
                                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque assumenda
                                                non quisquam officiis culpa quis sapiente ipsum nihil esse saepe
                                                perferendis, aspernatur ducimus ratione incidunt maxime iure suscipit
                                                fugit sed aliquid recusandae velit. Sapiente, incidunt alias
                                                necessitatibus eum earum laborum similique aliquid repellendus, nulla
                                                voluptatibus veritatis? Ipsam dolores doloribus veniam!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    <span><i class="mdi mdi-calendar"></i> Day 7</span>
                                </button>
                            </h2>
                            <div id="collapseSeven" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="row align-items-center">
                                        <div class="col-lg-2">
                                            <div class="container__img-holder">
                                                <img src="assets/images/new-images/selfi.png" alt="Image">
                                            </div>
                                        </div>
                                        <div class="col-lg-10">
                                            <div class="top_head_">
                                                <div class="date">
                                                    <h6><i class="mdi mdi-calendar-blank-outline"></i> 09 Nov, 2023</h6>
                                                </div>
                                                <div class="date time">
                                                    <h6><i class="mdi mdi-clock-check-outline"></i> 10:00 AM</h6>
                                                </div>
                                            </div>
                                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque assumenda
                                                non quisquam officiis culpa quis sapiente ipsum nihil esse saepe
                                                perferendis, aspernatur ducimus ratione incidunt maxime iure suscipit
                                                fugit sed aliquid recusandae velit. Sapiente, incidunt alias
                                                necessitatibus eum earum laborum similique aliquid repellendus, nulla
                                                voluptatibus veritatis? Ipsam dolores doloribus veniam!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFinal" aria-expanded="false" aria-controls="collapseFinal">
                                    <span><i class="mdi mdi-clipboard-check-outline"></i> Final Assessment</span>
                                </button>
                            </h2>
                            <div id="collapseFinal" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <ol class="questionair_list">
                                                <li>
                                                    <p class="question_">The application of the product is easy.</p>
                                                    <p class="answer_">Strongly Disagree</p>
                                                </li>
                                                <li>
                                                    <p class="question_">The product absorption is fast.</p>
                                                    <p class="answer_">Agree</p>
                                                </li>
                                                <li>
                                                    <p class="question_">The product is oily for the skin.</p>
                                                    <p class="answer_">Disagree</p>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="img-popup">
        <img src="" alt="Popup Image">
        <div class="close-btn">
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
    <%- include('../layout/includes/footer') %>
        <script>
            $(document).ready(function () {
                // required elements
                var imgPopup = $('.img-popup');
                var imgCont = $('.container__img-holder');
                var popupImage = $('.img-popup img');
                var closeBtn = $('.close-btn');
                // handle events
                imgCont.on('click', function () {
                    var img_src = $(this).children('img').attr('src');
                    imgPopup.children('img').attr('src', img_src);
                    imgPopup.addClass('opened');
                });
                $(imgPopup, closeBtn).on('click', function () {
                    imgPopup.removeClass('opened');
                    imgPopup.children('img').attr('src', '');
                });
                popupImage.on('click', function (e) {
                    e.stopPropagation();
                });
            });
        </script>