<%- include('../layout/includes/header', { title: 'User Index Page' }) %>
    <div class="row fixed-div_">
        <nav aria-label="breadcrumb" class="breadcrumbs">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Appointment</a></li>
                <!-- <li class="breadcrumb-item"><a href="#">Library</a></li> -->
                <li class="breadcrumb-item active" aria-current="page">Upcoming Appointments</li>
            </ol>
        </nav>
    </div>
    <div class="row ">
        <div class="col-lg-12">
            <div class="page-title-box align-self-center d-none d-md-block">
                <h4 class="page-title mb-0">Appointments</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="top_box__">
                        <h4 class="card-title">Upcoming Appointments</h4>  
                    </div>
                    <table id="datatable" class="table volunteer_table table-bordered dt-responsive nowrap"
                        style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number</th>
                                <th>Skin Type</th>
                                <th>Date & Time</th>
                                <th>Product</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>9760482982</td>
                                <td>Dry</td>
                                <td>24 Nov,2023 - 2:00 pm</td>
                                <td>Face Cream</td>
                                <td>
                                    <div class="form-group status_select">
                                        <select class="form-control select2_without_search">
                                            <option>Select</option>
                                            <option selected>Scheduled</option>
                                            <option>In Consultation</option>
                                            <option>Finished</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex gap-2">
                                       <a href="/appointment/view" class="btn btn_view btn-sm"><i
                                                class="mdi mdi-eye" data-bs-toggle="tooltip" data-bs-placement="top"
                                                data-bs-title="View"></i></a>
                                        <a href="/daily-update"
                                            class="btn btn-primary waves-effect waves-light">Daily update</a>
                                        <a href="#" class="btn btn-primary waves-effect waves-light reschedule_btn"
                                            data-bs-toggle="modal" data-bs-target="#reschedule">Reschedule</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Neal Matthews</td>
                                <td>9760482982</td>
                                <td>Oily</td>
                                <td>24 Nov,2023 - 2:00 pm</td>
                                <td>Face Cream</td>
                                <td>
                                    <div class="form-group status_select">
                                        <select class="form-control select2_without_search">
                                            <option>Select</option>
                                            <option selected>Scheduled</option>
                                            <option>In Consultation</option>
                                            <option>Finished</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex gap-2">
                                        <a href="/appointment/view" class="btn btn_view btn-sm"><i
                                                class="mdi mdi-eye" data-bs-toggle="tooltip" data-bs-placement="top"
                                                data-bs-title="View"></i></a>
                                        <a href="/daily-update"
                                            class="btn btn-primary waves-effect waves-light">Daily update</a>
                                        <a href="#" class="btn btn-primary waves-effect waves-light reschedule_btn"
                                            data-bs-toggle="modal" data-bs-target="#reschedule">Reschedule</a>
                                    </div>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- end col -->
    </div>
    <%- include('../layout/includes/footer') %>