<%- include('../layout/includes/header', { title: 'User Index Page' }) %>
    <div class="row fixed-div_">
        <nav aria-label="breadcrumb" class="breadcrumbs">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="#">Company</a></li>
                <li class="breadcrumb-item active" aria-current="page">View Company Details</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="title_head">
                                <h4>View Company Info.</h4>
                            </div>
                        </div>
                        <div class="col-lg-6 border-right-dashed">
                            <div class="detail_box pe-4">
                                <ul>
                                    <li>
                                        <div class="detail_title">
                                            <h6>Company Name</h6>
                                        </div>
                                        <div class="detail_ans">
                                            <h6>Blissful Skin</h6>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="detail_title">
                                            <h6>Email</h6>
                                        </div>
                                        <div class="detail_ans">
                                            <h6>BlissfulSkin@gmail.com</h6>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="detail_box ps-4">
                                <ul>
                                    <li>
                                        <div class="detail_title">
                                            <h6>Number</h6>
                                        </div>
                                        <div class="detail_ans">
                                            <h6>9760482982</h6>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="detail_title">
                                            <h6>Total Product</h6>
                                        </div>
                                        <div class="detail_ans">
                                            <h6>03</h6>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end col -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="title_head">
                                <h4>Our Products</h4>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="product_box">
                                <div class="video_box">
                                    <img src="assets/images/new-images/video-img.png" alt="">
                                    <a class="popup-youtube video_btn"
                                        href="https://www.youtube.com/watch?v=_BfzcPXcZoY">Play Video <img
                                            src="assets/images/new-images/youtube.png" alt=""></a>
                                    <div class="top_head_ pp_top">
                                        <div class="date">
                                            <h6><i class="mdi mdi-calendar-blank-outline"></i> Usage : 15 days</h6>
                                        </div>
                                        <div class="date time">
                                            <h6><i class="mdi mdi-clock-check-outline"></i> Duration : 5 min</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="product_detail_box">
                                    <h3 class="product_title_nn">SkinCeuticals Soothing Cleanser</h3>
                                    <h6 class="application___jj">Gently massage the Anti-aging serum under the eyes</h6>
                                    <p>Deep-clean your complexion with SkinCeuticals' foam face wash, which is infused
                                        with glycerin and cucumber extract. A winner of the GH Beauty Lab’s most recent
                                        face cleanser test, it earned near perfect points for effective cleansing, with
                                        96% of users reporting that it deeply purified their skin</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="product_box">
                                <div class="video_box">
                                    <img src="assets/images/new-images/video-img.png" alt="">
                                    <a class="popup-youtube video_btn"
                                        href="https://www.youtube.com/watch?v=_BfzcPXcZoY">Play Video <img
                                            src="assets/images/new-images/youtube.png" alt=""></a>
                                    <div class="top_head_ pp_top">
                                        <div class="date">
                                            <h6><i class="mdi mdi-calendar-blank-outline"></i> Usage : 15 days</h6>
                                        </div>
                                        <div class="date time">
                                            <h6><i class="mdi mdi-clock-check-outline"></i> Duration : 5 min</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="product_detail_box">
                                    <h3 class="product_title_nn">SkinCeuticals Soothing Cleanser</h3>
                                    <h6 class="application___jj">Gently massage the Anti-aging serum under the eyes</h6>
                                    <p>Deep-clean your complexion with SkinCeuticals' foam face wash, which is infused
                                        with glycerin and cucumber extract. A winner of the GH Beauty Lab’s most recent
                                        face cleanser test, it earned near perfect points for effective cleansing, with
                                        96% of users reporting that it deeply purified their skin</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="product_box">
                                <div class="video_box">
                                    <img src="assets/images/new-images/video-img.png" alt="">
                                    <a class="popup-youtube video_btn"
                                        href="https://www.youtube.com/watch?v=_BfzcPXcZoY">Play Video <img
                                            src="assets/images/new-images/youtube.png" alt=""></a>
                                    <div class="top_head_ pp_top">
                                        <div class="date">
                                            <h6><i class="mdi mdi-calendar-blank-outline"></i> Usage : 15 days</h6>
                                        </div>
                                        <div class="date time">
                                            <h6><i class="mdi mdi-clock-check-outline"></i> Duration : 5 min</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="product_detail_box">
                                    <h3 class="product_title_nn">SkinCeuticals Soothing Cleanser</h3>
                                    <h6 class="application___jj">Gently massage the Anti-aging serum under the eyes</h6>
                                    <p>Deep-clean your complexion with SkinCeuticals' foam face wash, which is infused
                                        with glycerin and cucumber extract. A winner of the GH Beauty Lab’s most recent
                                        face cleanser test, it earned near perfect points for effective cleansing, with
                                        96% of users reporting that it deeply purified their skin</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end col -->
    </div>
    <%- include('../layout/includes/footer') %>