<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center d-none d-sm-block">
                    2023-24, All Right Reserved by DERMACLAIM - Developed by <i class="mdi mdi-heart text-danger"></i>
                    <a href="https://techmavesoftware.com/">TechMave Software</a> .
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<!-- end main content-->
</div>
<!-- END layout-wrapper -->
<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
Launch demo modal
</button> -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Schedule Appointment</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3 form-group">
                            <label class="form-label">Volunteer Id</label>
                            <select class="form-control select2_modal">
                                <option>#1100</option>
                                <option>#1101</option>
                                <option>#1102</option>
                                <option>#1103</option>
                                <option>#1104</option>
                                <option>#1105</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3 form-group">
                            <label class="form-label">Volunteer Name</label>
                            <select class="form-control select2_modal">
                                <option>Jacob Hunter</option>
                                <option>Jamal Burnett </option>
                                <option>Juan Mitchell</option>
                                <option>Neal Matthews</option>
                                <option>Tiger Nixon</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="form-label">Date</label>
                            <div class="input-group" id="datepicker1">
                                <input type="text" class="form-control" placeholder="dd M, yyyy"
                                    data-date-format="dd M, yyyy" data-date-container='#datepicker1'
                                    data-provide="datepicker">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="form-label">Time</label>
                            <div class="input-group">
                                <input type="text" id="timePicker" class="form-control timepicker-custom"
                                    placeholder="Please select Time">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label">Appointment Agenda</label>
                            <textarea required="" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="reschedule" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Reschedule Appointment</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3 form-group">
                            <label class="form-label">Volunteer Id</label>
                            <select class="form-control select2_modal">
                                <option>#1100</option>
                                <option>#1101</option>
                                <option>#1102</option>
                                <option>#1103</option>
                                <option>#1104</option>
                                <option>#1105</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3 form-group">
                            <label class="form-label">Volunteer Name</label>
                            <select class="form-control select2_modal">
                                <option>Jacob Hunter</option>
                                <option>Jamal Burnett </option>
                                <option>Juan Mitchell</option>
                                <option>Neal Matthews</option>
                                <option>Tiger Nixon</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="form-label">Date</label>
                            <div class="input-group" id="datepicker8">
                                <input type="text" class="form-control" placeholder="dd M, yyyy"
                                    data-date-format="dd M, yyyy" data-date-container='#datepicker8'
                                    data-provide="datepicker">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="form-label">Time</label>
                            <div class="input-group">
                                <input type="text" class="form-control timepicker-custom"
                                    placeholder="Please select Time">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label">Appointment Agenda</label>
                            <textarea required="" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="assign_product" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Assign Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mb-3 form-group">
                            <label class="form-label">Select Company</label>
                            <select class="form-control select2_modal_assign">
                                <option>Blissful Skin</option>
                                <option>Pure Beauty</option>
                                <option>Radiant Glow</option>
                                <option>Elevate Skincare</option>
                                <option>Harmony Spa</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3 form-group">
                            <label class="form-label">Select Product</label>
                            <select class="form-control select2_modal_assign">
                                <option>Face mask</option>
                                <option>Eye contour products</option>
                                <option>Lip care products</option>
                                <option>Body care products </option>
                                <option>Soap product</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3 form-group">
                            <label class="form-label">Select Volunteer</label>
                            <select class="form-control select2_modal_assign">
                                <option>Tiger Nixon</option>
                                <option>Neal Matthews</option>
                                <option>Jamal Burnett</option>
                                <option>Juan Mitchell</option>
                                <option>Ronald Taylor</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Assign</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="edit_assign_product" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Assign Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mb-3 form-group">
                            <label class="form-label">Select Company</label>
                            <select class="form-control select2_modal_edit_assign">
                                <option>Blissful Skin</option>
                                <option>Pure Beauty</option>
                                <option>Radiant Glow</option>
                                <option>Elevate Skincare</option>
                                <option>Harmony Spa</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3 form-group">
                            <label class="form-label">Select Product</label>
                            <select class="form-control select2_modal_edit_assign">
                                <option>Face mask</option>
                                <option>Eye contour products</option>
                                <option>Lip care products</option>
                                <option>Body care products </option>
                                <option>Soap product</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3 form-group">
                            <label class="form-label">Select Volunteer</label>
                            <select class="form-control select2_modal_edit_assign">
                                <option>Tiger Nixon</option>
                                <option>Neal Matthews</option>
                                <option>Jamal Burnett</option>
                                <option>Juan Mitchell</option>
                                <option>Ronald Taylor</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Update</button>
            </div>
        </div>
    </div>
</div>
<!-- JAVASCRIPT -->
<script src="/assets/libs/jquery/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="/assets/libs/simplebar/simplebar.min.js"></script>
<script src="/assets/libs/node-waves/waves.min.js"></script>
<!-- Icon -->
<script src="https://unicons.iconscout.com/release/v2.0.1/script/monochrome/bundle.js"></script>
<!-- form plugin js -->
<script src="/assets/libs/select2/js/select2.min.js"></script>
<script src="/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/assets/libs/spectrum-colorpicker2/spectrum.min.js"></script>
<script src="/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="/assets/libs/admin-resources/bootstrap-filestyle/bootstrap-filestyle.min.js"></script>
<script src="/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="/assets/js/pages/form-advanced.init.js"></script>
<!-- apexcharts -->
<script src="/assets/libs/apexcharts/apexcharts.min.js"></script>
<!-- Vector map-->
<script src="/assets/libs/jsvectormap/js/jsvectormap.min.js"></script>
<script src="/assets/libs/jsvectormap/maps/world-merc.js"></script>
<!-- plugin js -->
<script src="/assets/libs/moment/min/moment.min.js"></script>
<script src="/assets/libs/jquery-ui-dist/jquery-ui.min.js"></script>
<script src="/assets/libs/%40fullcalendar/core/main.min.js"></script>
<script src="/assets/libs/%40fullcalendar/bootstrap/main.min.js"></script>
<script src="/assets/libs/%40fullcalendar/daygrid/main.min.js"></script>
<script src="/assets/libs/%40fullcalendar/timegrid/main.min.js"></script>
<script src="/assets/libs/%40fullcalendar/interaction/main.min.js"></script>
<!-- Calendar init -->
<script src="/assets/js/pages/calendar.init.js"></script>
<!-- Required datatable js -->
<script src="/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="/assets/libs/jszip/jszip.min.js"></script>
<script src="/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="/assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="/assets/libs/datatables.net-select/js/dataTables.select.min.js"></script>
<!-- Responsive examples -->
<script src="/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<!-- Datatable init js -->
<script src="/assets/js/pages/datatables.init.js"></script>
<!-- App js -->
<script src="/assets/js/app.js"></script>
<script type="text/javascript" src="https://jeremyfagis.github.io/dropify/dist/js/dropify.min.js"></script>
<!--  Flatpickr  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>
<script>
    $(".timePicker").flatpickr({
        enableTime: true,
        noCalendar: true,
        time_24hr: false,
        dateFormat: "H:i",
    });
</script>
<!-- Dropify Js  -->
<script>
    $('.dropify').dropify();
</script>
<!-- Select 2 js without searchbar -->
<script>
    $('.select2_without_search').select2({
        minimumResultsForSearch: -1 // for no searchbar
    });
</script>
<script>
    $('.select2_modal').select2({
        dropdownParent: $('#exampleModal')
    });  
</script>
<script>
    $('.select2_modal_assign').select2({
        dropdownParent: $('#assign_product')
    });  
</script>
<script>
    $('.select2_modal_edit_assign').select2({
        dropdownParent: $('#edit_assign_product')
    });  
</script>
<!-- Password Show / Hide js -->
<script>
    $(document).ready(function () {
        $(".toggle-password").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            input = $(this).parent().find("input");
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    })
</script>
<!--magnific-popup video js-->
<script src="http://dimsemenov.com/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script>
    $(document).ready(function () {
        $('.popup-youtube').magnificPopup({
            type: 'iframe'
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#add_question').hide();
        $('#add_more_btn').click(function () {
            $('#add_question').show();
        });
        $('#remove_question_box').click(function () {
            $('#add_question').hide();
        })
        $('#remove_question_box').click(function () {
            $('#add_question_').hide();
        })
        $('#add_more_btn').click(function () {
            $('#add_question_').show();
        })
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js"></script>
<script>
    $(function () {
        // Initialize the timepicker
        $('.timepicker-custom').timepicker({
            'step': 1,
            'timeFormat': 'h:i A' // Use 'h:i A' for AM/PM format
        });
    });
</script>
</body>

</html>