<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <a href="#" class="logo logo-dark">
            <span class="logo-sm">
                <img src="/assets/images/new-images/dermaclaim-sm-logo.png" alt="logo-sm-dark" height="24">
            </span>
            <span class="logo-lg">
                <img src="/assets/images/new-images/dermaclaim-logo.png" alt="logo-dark" height="22">
            </span>
        </a>
        <a href="#" class="logo logo-light">
            <span class="logo-sm">
                <img src="/assets/images/new-images/dermaclaim-sm-logo.png" alt="logo-sm-light" height="24">
            </span>
            <span class="logo-lg">
                <img src="/assets/images/new-images/dermaclaim-logo.png" alt="logo-light" height="22">
            </span>
        </a>
    </div>
    <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect vertical-menu-btn"
        id="vertical-menu-btn">
        <i class="ri-menu-2-line align-middle"></i>
    </button>
    <div data-simplebar class="vertical-scroll">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>
                <li>
                    <a href="/" class="waves-effect">
                        <i class="mdi mdi-home"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/volunteer" class="waves-effect">
                        <i class="mdi mdi-account-group-outline"></i>
                        <span>Volunteers</span>
                    </a>
                </li>
                <li>
                    <a href="/product/assign" class="waves-effect">
                        <i class="mdi mdi-cube-outline"></i>
                        <span>Assign Product</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-briefcase-outline"></i>
                        <span>Appointment</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="/appointment">All Appointments</a></li>
                        <li><a href="/appointment/upcoming">Upcoming Appointments</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/assessment" class="waves-effect">
                        <i class="mdi mdi-head-question-outline"></i>
                        <span>Questionnaires</span>
                    </a>
                </li>
                <li>
                    <a href="/company" class="waves-effect">
                        <i class="mdi mdi-city-variant-outline"></i>
                        <span>Companies</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
    <div class="crancy-support-card crancy-bg-cover"
        style="background-image: url('/assets/images/new-images/support-bg.png');">
        <h4 class="crancy-support-card__title">Help Center</h4>
        <p class="crancy-support-card__text">Having trouble Dashboard? Please contact us for more question?</p>
        <a href="#" class="crancy-btn crancy-ybcolor mg-top-20">Go To Help Center</a>
    </div>
</div>
<!-- Left Sidebar End -->